{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
<table id="user-info">
<tr><td><span class="user-info-label">{% trans "Username" %}:</span></td>  <td>{{ user.username }}</td></tr>
<tr><td><span class="user-info-label">{% trans "Name" %}:</span></td>

<td>
    {% if LANGUAGE_CODE == 'zh-tw' %}
        {{ user.last_name }} {{ user.first_name }}
    {% else %}
        {{ user.first_name }} {{ user.last_name }}
    {% endif %}
</td></tr>

<tr><td><span class="user-info-label">{% trans "Password" %}:</span></td>
    <td><a href={% url 'django.contrib.auth.views.password_change' %}> {% trans "Change Password" %}</a></td></tr>

<tr><td><span class="user-info-label">{% trans "E-mail" %}:</span></td><td>{{ user.email }}</td></tr>

<tr><td><span class="user-info-label">{% trans "Last Login" %}:</span></td><td>{{ user.last_login }}</td></tr>


{% if perms.auth.add_user %}
<tr><td><span class="user-info-label">{% trans "Create User" %}:</span></td>
    <td><a href={% url 'accounts.views.create_user' %}>{% trans "Create User" %}</a></td></tr>
{% endif %}


</table>




{% endblock %}