{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% load kavalan_tags %}

{% block content %}
<div class="signin-box">

    <h2>{% trans "Sign in" %}</h2>
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}" id="login-form" class="form-stacked">

        {% csrf_token %}

        {% bootstrap_fields form %}

        {% if form.non_field_errors %}
              <div class="alert-message block-message error">{{ form.non_field_errors }}</div>
        {% endif %}

        <button class="btn primary" type="submit">{% trans "Submit" %}</button>
        <button class="btn default" type="reset">{% trans "Reset" %}</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

</div>


{% endblock %}
