{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% load kavalan_tags %}

{% block content %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}" id="login-form">
    {% csrf_token %}

    {% if form.errors %}
        <div class="alert-message block-message error">{% trans "Your username and password didn't match. Please try again." %}</div>
    {% endif %}

    {% bootstrap_fields form %}

    <div class="actions">
        <button class="btn primary" type="submit">{% trans "Submit" %}</button>
        <button class="btn default" type="reset">{% trans "Reset" %}</button>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />

</form>

{% endblock %}
