{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% load avatar_tags %}

{% block content %}
<div class="container">
    <div class="row show-grid">
        <div class="span3 columns"><span class="user-info-label">{% trans "Username" %}:</span></div>
        <div class="span5 columns"><span>{{ user.username }}:</span></div>
        <div class="span8 columns"></div>
    </div>

    <div class="row show-grid">
         <div class="span3 columns"><span class="user-info-label">{% trans "Avatar" %}:</span></div>
         <div class="span5 columns"><span><a title="{% trans "Click to change" %}" href="{% url 'account-change-avatar' %}">{% avatar user %}</a></span></div>
         <div class="span8 columns"></div>
    </div>

    <div class="row show-grid">
         <div class="span3 columns"><span class="user-info-label">{% trans "Name" %}:</span></div>
         <div class="span5 columns"><span>{{ user.profile.full_name }}</span></div>
         <div class="span8 columns"></div>
    </div>

    <div class="row show-grid">
         <div class="span3 columns"><span class="user-info-label">{% trans "Password" %}:</span></div>
         <div class="span5 columns"><span><a href={% url 'django.contrib.auth.views.password_change' %}> {% trans "Change Password" %}</a></span></div>
         <div class="span8 columns"></div>
    </div>

    <div class="row show-grid">
         <div class="span3 columns"><span class="user-info-label">{% trans "E-mail" %}:</span></div>
         <div class="span5 columns"><span>{{ user.email }}</span></div>
         <div class="span8 columns"></div>
    </div>
    <div class="row show-grid">
         <div class="span3 columns"><span class="user-info-label">{% trans "Last Login" %}:</span></div>
         <div class="span5 columns"><span>{{ user.last_login }}</span></div>
         <div class="span8 columns"></div>
    </div>

    {% if perms.auth.add_user %}
    <div class="row show-grid">
         <div class="span3 columns"><span class="user-info-label">{% trans "Create User" %}:</span></div>
         <div class="span5 columns"><span><a href={% url 'accounts.views.create_user' %}>{% trans "Create User" %}</a></span></div>
         <div class="span8 columns"></div>
    </div>
    {% endif %}

</div>


{% endblock %}