{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block extra_head %}
    <link href="{{ STATIC_URL }}notification.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
     <ul>
    {% for notice in notices %}
            <li class="{% if notice.unseen %}unseen{% else %}seen{% endif %}">{% blocktrans %}{{ notice }}{% endblocktrans %}</li>
    {% endfor %}
    </ul>
<a href="{% url "notification_mark_all_seen" %}"> {% trans "Mark All as Read" %}</a>
{% endblock %}
