{% load i18n %}
{% load url from future %}
{% load compressed %}
<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">


<title> {% block title %} {% endblock %}</title>

    <!-- ** CSS ** -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-1.3.0.min.css">
    {% compressed_css 'all' %}

    <!-- ** Javascript ** -->

    <!-- Third-Party Javascript files-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src={{ STATIC_URL }}js/underscore-min.js></script>
    <script type="text/javascript" src={{ STATIC_URL }}js/json2-min.js></script>
    <script type="text/javascript" src={{ STATIC_URL }}js/backbone-min.js></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.14.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.min.js"></script>

    <!-- Project-specific -->
    {% compressed_js 'project' %}
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

    <!-- Per-app header -->
    {% block extra_head %}{% endblock %}

    <!-- Extra per-app script -->
    {% block extra_script %}{% endblock %}

</head>


<body>

<div id="container">
    <nav>{% include "navigation.html" %}</nav>
    <div id="content">{% block content %} {% endblock %}</div>
    <footer>{% block footer %}  <p> Kavalan Management System, developed and maintained by Wu-Fu Laboratories, Ltd., 2011.</p>{% endblock %}</footer>
</div>



</body>

</html>