{% load i18n %}
{% load url from future %}

<!-- Navigation bar -->

<!-- Nav Menu -->
<ul id="nav-menu">
    <li> <a href="/"> {% trans "Home" %} </a></li>
    <li> <a href="/doc_engine/"> {% trans "Document Search" %}</a></li>
    {% if user.is_staff %}
        <li> <a href="/admin/"> {% trans "Admin" %} </a></li>
        <li> <a href="/docs/index.html"> {% trans "Help" %} </a></li>
    {% else %}
        <li> <a href="/docs/quickstart.html"> {% trans "Help" %} </a></li>

    {% endif %}
</ul>


<!-- Controls -->
<div id="controls">

    <!-- Account specific-->
    {% if user.is_authenticated %}
        <div id="account-menu">

            <div id="expand-menu">
                <span id="username">{{ user.username }}</span>
                <span class="arrow-down"></span>
            </div>

            <div id="account-options">
                <ul>
                    <li><a href="/accounts/manage/" id="manage">{% trans "Manage Account" %}</a></li>
                    <li><a href="/accounts/logout/"> {% trans "Logout" %}</a></li>
                </ul>
             </div>
        </div>
    {% else %}
        <a href="/accounts/login/">{% trans "Login" %}</a>
    {% endif %}

    <!-- Notices-->
    {% if user.is_authenticated %}
    <div id="notices">
    {% with notices=user.profile.unseen_notices %}
        <span id="unseen-notices-count" class="{% if notices.count %}unseen{% endif %}"><span>{{ notices.count }}</span></span>
        <div id="unseen-notices">
            <div id="unseen-notices-header"><div>{% trans "Notifications" %}</div><a href="{% url "notification_notices" %}">{% trans "View All" %}</a></div>
            <div id="unseen-notices-list">{% include "notification/nav-notices-list.html" %}</div>
        </div>
    {% endwith %}
    </div>
    {% endif %}


    <!-- Options -->
    <div id="options">
        <div id="options-icon"></div>
        <div id="options-menu">
            <ul>
                <li>
                        <form action="/i18n/setlang/" method="post" id="set-lang">
                        {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.path }}" />
                            <select name="language" class="medium">
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"
                                {% if language.code == LANGUAGE_CODE %} selected="true"{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})</option>
                             {% endfor %}
                             </select>
                            <button class="btn small" type="submit">Go!</button>
                        </form>
                </li>
            </ul>

        </div>
    </div>
</div>

<!-- End of Navigation Bar -->