{% extends "stream/stream-base.html" %}
{% load i18n %}

{% block script %}
        <script type="text/javascript">
        $(document).ready(function(){
            $("#id_groups").multiselect({
                    noneSelectedText: gettext('Post to which groups?'),
                    checkAllText: gettext('Select all groups'),
                    uncheckAllText: gettext('Unselect all groups'),
                    selectedText: gettext('# groups selected')
                });

            window.get_selected_groups = function(){
                return $("#id_groups").multiselect("getChecked").map(function(){return this.value;}).get();
            };

        });
        </script>

{% endblock %}

{% block create-post %}
        <span class="prompt"> {% trans "What's new?" %}</span>
        <textarea class ="new-post-content" rows="5" cols="40"></textarea>
        <input class="new-post-link" placeholder="{% trans 'Share a Link!' %}" type="text"/>
        {{ user_group_select_form.groups }}
        <input class="post-button" type="submit" value="{% trans "Post!" %}"/>
        <span class="create-post-errors"></span>
{% endblock %}
