{% load i18n %}

{% block script %} <!-- Load custom script here -->{% endblock %}

<div class="stream">
    <div class="create-post">{% block create-post %}<!-- Load custom control for post creation here -->{% endblock %}</div>
    <div class="stream-posts">{% block stream-posts %}{% endblock %}</div>
    <div class="load-more"><a href=""> {% trans "Load more" %}</a></div>

    {% block stream-templates %}
           <script type="text/template" class="post-template">

        <div class="stream-post">

            <span class="poster-name" ><%=poster.profile.full_name %> </span>

            <span class="formatted-time-posted">
                <%=formatted_time_posted%>
            </span>

            <div class="processed-content">
                <%=processed_content%>
            </div>

                <% if (link != ""){ %>
                    <span class="link">
                        {% trans "Link" %}: <a href="<%=link%>"><%=link%></a>
                    </span>
                <%}%>

            <span>{% trans "Groups" %}:
                <%_.each(groups, function(group){ %>
                    <span class="group-name"> <%=group.name%></span>
                <%});%>
            </span>

            <span class="comment-count">
                <% if(comment_count == 0){ %>
                    {% trans "Comment" %}
                <%}%>

                <% if(comment_count == 1){ %>
                    <%=comment_count%> {% trans "comment" %}
                <%}%>

                <% if(comment_count >1){ %>
                    <%=comment_count%> {% trans "comments" %}
                <%}%>
             </span>

            <div class="comment-list">
                <div class="post-comments">
                </div>
                <input class="write-comment" type="text" placeholder="{% trans 'Write a comment' %}" />
            </div>

        </div>

    </script>

    <script type="text/template" class="post-comment-template">
        <div class="stream-post-comment">
            <span class="poster-name" >
                {% if LANGUAGE_CODE == 'zh-tw' %}
                    <%=poster.last_name %> <%=poster.first_name%>
                {% else %}
                    <%=poster.first_name %> &nbsp; <%=poster.last_name%>
                {% endif %}
            </span>

            <span class="formatted-time-posted">
                <%=formatted_time_posted%>
            </span>

            <div class="processed-content">
                <%=processed_content%>
            </div>
        </div>
    </script>
    {% endblock %}
</div>