{% load i18n %}

<!-- Load custom script here -->
{% block script %} {% endblock %}

<!-- The Stream div for displaying the controls to create a new post and the actual Stream itself-->
<div class="stream">
    <!-- Load custom control for post creation here -->
    <div class="create-post" class="clearfix">{% block create-post %}{% endblock %}</div>

    <!--The Stream of posts and the associated templates -->
    <div class="stream-posts">{% block stream-posts %}{% endblock %}</div>

     {% block stream-templates %}
           <script type="text/template" class="post-template">

        <div class="stream-post">

            <span class="poster-name" ><%=poster.profile.full_name %> </span>

            <span class="formatted-time-posted">
                <%=formatted_time_posted%>
            </span>

            <div class="processed-content">
                <%=processed_content%>
            </div>

                <% if (link != ""){ %>
                    <span class="link">
                        {% trans "Link" %}: <a href="<%=link%>"><%=link%></a>
                    </span>
                <%}%>

            <span>{% trans "Groups" %}:
                <%_.each(groups, function(group){ %>
                    <span class="group-name"> <%=group.name%></span>
                <%});%>
            </span>

            <span class="comment-count">
                <% if(comment_count == 0){ %>
                    {% trans "Comment" %}
                <%}%>

                <% if(comment_count == 1){ %>
                    <%=comment_count%> {% trans "comment" %}
                <%}%>

                <% if(comment_count >1){ %>
                    <%=comment_count%> {% trans "comments" %}
                <%}%>
             </span>

            <div class="comment-list">
                <div class="post-comments">
                </div>
                <input class="write-comment" type="text" placeholder="{% trans 'Write a comment' %}" />
            </div>

        </div>

    </script>

    <script type="text/template" class="post-comment-template">
        <div class="stream-post-comment">
            <span class="poster-name" >
                    <%=poster.profile.full_name %>
            </span>

            <span class="formatted-time-posted">
                <%=formatted_time_posted%>
            </span>

            <div class="processed-content">
                <%=processed_content%>
            </div>
        </div>
    </script>
    {% endblock %}


    <!-- The Load More button-->
    <div class="load-more"><a href=""> {% trans "Load more" %}</a></div>

</div>