body {
	display:block;

}

#content{
    display: block;
    position:absolute;
    top: 40px;
    width: 100%;

}

nav {
	display:block;
    width: 100%;
    vertical-align: middle;
    height: 30px;
    border-bottom: thin solid black;
    position: absolute;
    top: 0;
    right:0;
    background-color: #003399;
    color:white;
}

nav ul {
    height: 100%;
    padding: 0;
    margin: 0;
    width:80%;
    float: left;
}

nav ul li {
	margin: 0 auto ;
	display: inline;
    float:left;
	list-style-type: none;
    height:100%;
    position:relative;
    line-height: 24px;
}

nav ul li:hover {
    background-color: #3300ff; ;
}

nav ul li a:link, nav ul li a:visited{
	float: left;
	font-size: small;
	font-weight: bold;
	margin: 0 10px 4px 10px;
	padding-bottom: 2px;
	text-decoration: none;
    color:white;
}

nav ul li a.active:link, nav ul li a:hover {
	border-bottom: 2px solid red;
    margin-bottom: 0;
	}

#search-doc {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-top: 10px;

}

#search-doc input{

    width: 60%;
}

#search-doc-result {

    margin-top: 4%;

}

#search-doc-result a{

    font-size:large;
}

footer{
    position: absolute;
    bottom: 0px;
    left:0px;
    width: 100%;
    font-size: small;
}

footer p{
    text-align: center;
}

#controls {
    float:right;
}

#controls * {
    float:left;
    margin-right:2px;
}
#controls a {
    text-decoration: none;
    color: white;
}

.login-error {
    color: red;
}