body {
	display:block;

}
/* for base.html */
#content{
    display: block;
    position:absolute;
    top: 40px;
    width: 100%;

}

nav {
	display:block;
    width: 100%;
    vertical-align: middle;
    height: 30px;
    border-bottom: thin solid black;
    position: absolute;
    top: 0;
    right:0;
    background-color: #333333;
    color:white;
}

nav ul {
    height: 100%;
    padding: 0;
    margin: 0;
    width:80%;
    float: left;
}

nav ul li {
	margin: 0 auto ;
	display: inline;
    float:left;
	list-style-type: none;
    height:100%;
    position:relative;
    line-height: 24px;
}

nav ul li:hover {
    background-color: #666666; ;
}

nav ul li a:link, nav ul li a:visited{
	float: left;
	font-size: small;
	font-weight: bold;
	margin: 0 10px 4px 10px;
	padding-bottom: 2px;
	text-decoration: none;
    color: #ffffff;
}

nav ul li a.current {
	border-bottom: 2px solid red;
    margin-bottom: 0;
	}


/* for nav bar control */
#controls {
    float:right;
}

#controls * {
    float:left;
    padding: 0 5px;
}

#username {
    font-weight: bold;
}
#controls a {
    text-decoration: none;
    color: #ffffff;
}
/* for /accounts/login/ */

.login-error {
    color: red;
}

/* for forms */

.errorlist{
    color: red;
}

/*for doc_engine/index.html*/
#search-doc {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-top: 10px;

}

#search-doc input{

    width: 60%;
}

#search-result {
    margin-top: 2%;
    margin-left:auto;
    margin-right: auto;
    width:60%;
}

#search-result a, #search-result>span{

    font-size:large;
    text-decoration: none;
    display:block;
    padding: 5px 0px;
}

#search-batch-record form li{
    list-style-type: none;
}
.ui-datepicker{
 font-size:12px;
}

.ui-tabs{
 font-size: 14px;
}

.physical-location{
    font-size: larger;
    font-weight: bold;
}


/* for index.html*/
footer{
    position: absolute;
    bottom: 0px;
    left:0px;
    width: 100%;
    font-size: small;
}

footer p{
    text-align: center;
}

/* for registration/manage.html */


.user-info-label{
     font-weight: bold;
}