{% extends "base.html" %}
{% load url from future %}
{% load i18n %}


{% block title %} Doc Engine{% endblock %}

{% block content %}
<div class="container doc-engine">
    <!-- Templates for presenting Document and Batch Record search results-->
    <script type="text/template" id="search-doc-template">
        <span class="doc-result">
            <a href='<%=file%>'> <%=serial_number%> &nbsp; <%=title%> &nbsp; v<%=version%> </a>
                <span class="doc-extras">
                    <% if(location !== ''){ %>
                        <abbr class="doc-location" title="{% trans "Physical Location" %}"><%=location%></abbr>
                    <%}%>

                    <% _.each(tags, function(label){ %>
                        <abbr class="doc-tag" title="{% trans "Tag" %}"><%=tag.tag%></abbr>
                    <%});%>
                </span>

            {% if perms.doc_engine.change_document %}
                <span class="doc-edit"><a href="{% url 'admin:doc_engine_storeddocument_changelist'  %}<%=id%>"> {% trans "Edit" %} </a></span>
            {% endif %}
        </span>
    </script>

    <script type="text/template" id="search-batch-record-template">
        <span class="batch-result">
            <span class="batch-name"><%=name%></span>
            <span class="batch-number"><%=batch_number%></span>
            <span class="batch-date"><%=date_manufactured%></span>
            <span class="batch-date-minguo">民國 <%=date_manufactured_minguo%></span>
            <abbr class="batch-location" title="{% trans "Physical Location" %}"><%=location%></abbr>

            {% if perms.doc_engine.change_batchrecord %}
                <span class="batch-edit"><a href="{% url 'admin:doc_engine_batchrecord_changelist'  %}<%=id%>"> {% trans "Edit" %} </a></span>
            {% endif %}

        </span>
    </script>

    <script type="text/template" id="search-result-pagination-template">
        <div class="pagination">
          <ul>
            <% var i = 1; for(i = 1; i<= num_pages; i++){ %>
                <li <% if(i==page_number){ %> class="active" <%}%> ><a class="page" rel="<%=i%>" href="javascript:void(0);"><%=i%></a></li>
            <%}%>
          </ul>
        </div>
    </script>

    <!-- The tabs for Search Documents and Search Batch Records-->
    <div id="search-tabs">
        <ul>
            <li><a href="#search-doc">{% trans "Search Documents" %}</a></li>
            <li><a href="#search-batch-record">{% trans "Search Batch Records" %}</a></li>
        </ul>

        <div id="search-doc">
            <form class="form-stacked" action="" method="get" onsubmit="return false;">
            
                {% for field in  document_search_form.visible_fields %}
                    <div class="clearfix">
                        {{ field.label_tag }}
                        <div class="input">{{ field }}</div>
                    </div>

                {% endfor %}

                {% if perms.doc_engine.add_document %}
                    <div class="doc-add clearfix"> <a href="{% url 'admin:doc_engine_storeddocument_add'  %}" class="btn">+{% trans "Add Document" %}</a></div>
                {% endif %}

            </form>


        </div>

        <div id="search-batch-record">

            <form class="form-stacked" action="" method="get" onsubmit="return false;">
            
                 {% for field in  batch_record_search_form.visible_fields %}
                     <div class="clearfix">
                        {{ field.label_tag }}
                        <div class="input">{{ field }}</div>
                     </div>
                {% endfor %}

                {% if perms.doc_engine.add_batchrecord %}
                    <div class="batch-add clearfix"> <a href="{% url 'admin:doc_engine_batchrecord_add'  %}" class="btn">+{% trans "Add Batch Record" %}</a></div>
                {% endif %}
            
            </form>
        
        </div>
    </div>

    <div id="search-result"></div>

</div>
{% endblock %}