.notices-list{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.notices-list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.notices-list ul li{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 10px;
    background-color: #EEF0F9;
    border-top: 1px solid #DDDFE7;
    cursor: pointer;
}

.notice-message{
}
.notice-added{
    font-size: smaller;
    color: #36C;
}

.notice-mark-seen{
    font-size: smaller;
    color: #36C;
    float: right;
}