{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block extra_head %}
    <link href="{{ STATIC_URL }}notification.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ STATIC_URL }}notification.js"></script>
{% endblock %}

{% block content %}
<div class="notices-list">
{% with notices=user.profile.unseen_notices %}

    <ul>
    {% for notice in notices %}
            <li>
            <div class="notice">
                <span class="notice-message">{% blocktrans %}{{ notice }}{% endblocktrans %}</span>
                <span class="notice-added">{{ notice.added }}</span>
                <span class="notice-mark-seen" id="notification-{{ notice.id }}">{% trans "Mark as seen" %}</span>
            </div>
            </li>
    {% endfor %}
    </ul>
{% endwith %}
</div>
{% endblock %}
