/*For Stream app related items*/

.stream{
    width: 40%;
    margin-left: auto;
    margin-right: auto;

}

.stream .create-post{
    position: relative;
    padding: 5px;
    max-width: 540px;
}

.stream .create-post>*{
    margin: 2px 0;
}
.stream .prompt{
    display:block;
    width: 100%;
}
.stream .new-post-content{
    resize: none;
    text-align: left;
    width: 100%;
    padding: 0;

}
.stream .new-post-link{
    display: block;
    width: 100%;
    padding: 3px 0;
}

.stream .post-button{
    height: 32px;
    font-weight: bold;
    min-width: 75px;
    max-width: 100px;
    width: 15% !important;

}

#id_groups_chzn{
    vertical-align: top;
    min-width: 300px;
    max-width: 440px;
    width: 84% !important;
}

.stream .create-post-errors{
    display: none;
}

.stream .stream-posts{
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 30px;
}

.stream .stream-post{
    border: 1px solid #F2F2F2;
    padding: 10px 5px;
    font-size: 15px;

}
.stream .poster-name{
  color: #3366CC;
}

.stream .processed-content{
    padding: 15px 0;
    color: #000000;

}

.stream .group-name{
    padding: 0 5px;
    color: #3366CC;
}

.stream .link{
    display: block;
}
.stream .load-more{
    width: 100%;
    text-align: center;
    font-size: 1.4em;
}
.stream .comment-list{
    position: relative;
    padding: 10px 5px 10px 5px;
    display:none;
}

.stream .comment-count{
    text-decoration: underline;
    cursor: pointer;
    color: #3366CC;
}

.stream .stream-post-comment{
    font-size: smaller;
    background-color: #EDEFF4;
    width: 100%;
    padding-top: 3px;
    padding-left: 3px;
    margin-bottom: 3px;
}

.stream .stream-post-comment div {
    padding: 10px 0 10px 0;
}

.stream .write-comment{
    width: 90%;
    margin-top: 5px;

}