{% load i18n %}
<div class="stream">

    <div class="create-post">
        <span class="prompt"> {% trans "What's new?" %}</span>
        <textarea class ="new-post-content" rows="5" cols="40"></textarea>
        <input class="new-post-link" placeholder="{% trans 'Share a Link!' %}" type="text"/>
        {{ user_group_select_form.groups }}
        <input class="post-button" type="submit" value="{% trans "Post!" %}"/>
        <span class="create-post-errors"></span>
    </div>

    <div class="stream-posts">


    </div>

    <div class="load-more"><a href=""> {% trans "Load more" %}</a></div>



<script type="text/template" class="post-template">

    <div class="stream-post">

        <span class="poster-name" >
            {% if LANGUAGE_CODE == 'zh-tw' %}
                <%=poster.last_name %> <%=poster.first_name%>
            {% else %}
                <%=poster.first_name %> &nbsp; <%=poster.last_name%>
            {% endif %}
        </span>

        <span class="formatted-time-posted">
            <%=formatted_time_posted%>
        </span>

        <div class="processed-content">
            <%=processed_content%>
        </div>

            <% if (link != ""){ %>
                <span class="link">
                    {% trans "Link" %}: <a href="<%=link%>"><%=link%></a>
                </span>
            <%}%>

        <span>{% trans "Groups" %}:
            <%_.each(groups, function(group){ %>
                <span class="group-name"> <%=group.name%></span>
            <%});%>
        </span>

        <span class="comment-count">
            <% if(comment_count == 0){ %>
                {% trans "Comment" %}
            <%}%>

            <% if(comment_count == 1){ %>
                <%=comment_count%> {% trans "comment" %}
            <%}%>

            <% if(comment_count >1){ %>
                <%=comment_count%> {% trans "comments" %}
            <%}%>
         </span>

        <div class="comment-list">
            <div class="post-comments">
            </div>
            <input class="write-comment" type="text" placeholder="{% trans 'Write a comment' %}" />
        </div>

    </div>

</script>

<script type="text/template" class="post-comment-template">
    <div class="stream-post-comment">
        <span class="poster-name" >
            {% if LANGUAGE_CODE == 'zh-tw' %}
                <%=poster.last_name %> <%=poster.first_name%>
            {% else %}
                <%=poster.first_name %> &nbsp; <%=poster.last_name%>
            {% endif %}
        </span>

        <span class="formatted-time-posted">
            <%=formatted_time_posted%>
        </span>

        <div class="processed-content">
            <%=processed_content%>
        </div>
    </div>
</script>

</div>
