
body {
	display:block;

}
/* for base.html */
#content{
    display: block;
    position:absolute;
    top: 40px;
    left: 0;
    width: 100%;


}

nav {
	display:block;
    width: 100%;
    vertical-align: middle;
    height: 30px;
    position: absolute;
    top: 0;
    right:0;
    left:0;
    background-color: #333333;
    color:white;
}

nav>ul {
    height: 100%;
    padding: 0;
    margin: 0;
    width:80%;
    float: left;
}

nav>ul li {
	margin: 0 auto ;
	display: inline;
    float:left;
	list-style-type: none;
    height:100%;
    position:relative;
    line-height: 26px;
}

nav>ul li:hover {
    background-color: #666666; 
}

nav>ul li a:link, nav>ul li a:visited{
	float: left;
	font-size: small;
	font-weight: bold;
	margin: 0 10px 0 10px;
    padding: 0;
	text-decoration: none;
    color: #ffffff;
}

nav>ul li a.current {
	border-bottom: 2px solid red;
    margin-bottom: 0;
	}


/* for the nav bar controls on the top right corner */

/*Controls */
#controls {
    float:right;
    height: 100%;
    line-height: 30px;
}

#controls>* {
    float:left;
}

#controls>*:hover{
    background-color:#666666;
}
#controls>a, #controls>a:link, #controls>a:visited, #controls>a:active{
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    padding: 0 5px;

}

/* account-menu */
#account-menu{
    position: relative;
    height:100%;
}

#account-menu.active{
    background-color: white;
}

#expand-menu{
    height: 100%;
    padding: 0 5px;
    margin: 0 5px;
    cursor: pointer;
}

#expand-menu *{
    float: left;
}

#username{
    color: #ffffff;
}

#username.active{
    color: #3366CC;
}
/* create an arrow that points down */
span.arrow-down {
  position: relative;
  top: 15px;
  width:0px;
  height:0px;
  border-left:3px solid transparent;
  border-right:3px solid transparent;
  border-top:3px solid #ffffff;
  font-size:0px;
  margin: 0 5px;
}

#account-options{
    position: absolute;
    top: 30px;
    display: none;
    width:auto;
    right:0px;
    z-index: 100;
    box-shadow: 0 0 2px 1px #CCCCCC;
    border: 1px solid #bebebe;

}

#account-options.active{
    display: block;
}
#account-options ul{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#account-options ul li{
    list-style-type: none;
    background-color: #ffffff;
    width:100%;
    white-space: nowrap;
}

#account-options ul li a{
    color: #3366CC !important;
    padding: 0 10px;
}

#account-options ul li a:hover{
    text-decoration: underline;
}

/*For noticces*/
#notices{
    position: relative;
    height: 100%;
    display: block;
    padding: 0 5px;

}

#notices.active{
    background-color: #ffffff;
}


#unseen-notices-count{
    height: 20px;
    width: 21px;
    background-color: gray;
    border-radius:2px;
    cursor: pointer;

}

#unseen-notices-count.unseen{
    height: 20px;
    width: 21px;
    background-color: #FF4747;
    border-radius:2px;
    color: #ffffff;

}

#unseen-notices-count span{
    padding: 2px 5px;

}

#unseen-notices {
    display: none;
    position:absolute;
    background-color: #ffffff;
    top:30px;
    right:10px;
    z-index: 99;
    width: 300px;
    box-shadow: 0 0 2px 1px #CCCCCC;
    border: 1px solid #bebebe;
    color: #000000;
}

#unseen-notices.active{
    display: block;
}

#unseen-notices-header{
    font-size: medium;
    padding: 5px 10px;
    white-space:nowrap;
}

#unseen-notices-header div{
    font-weight: bold;
    display: inline;
}

#unseen-notices-header a{
    float: right;
    
}
#unseen-notices-list ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#unseen-notices-list ul li{

    display: block;
    font-size: small;
    white-space:nowrap;
    padding: 0 10px;
    background-color: #EEF0F9;
    border-top: 1px solid #DDDFE7;
}

/* For options */

#options{
    position: relative;
    height: 100%;
}

#options.active{
    background-color: #ffffff;
}

#options-icon{
    background-image: url('/static/gear.png');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    width:30px;
    height: 30px;
    cursor: pointer;
    margin-left: 5px;
    margin-right:5px;
}

#options-menu{
    display: none;
    position:absolute;
    top:30px;
    width:150px;
    right:20px;
    z-index: 100;
    box-shadow: 0 0 2px 1px #CCCCCC;
    border: 1px solid #bebebe;
    background-color: #ffffff;
}

#options-menu.active{
    display: block;
}

#options-menu ul{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#options-menu ul li{
    padding: 0;
    width:100%;
    white-space: nowrap;
    list-style-type: none;
}

#options-menu ul li > *{
    margin: 5px 10px;
}

#options-menu ul li *{
    color: #3366CC;
}
#set-lang input.ui-widget[type="submit"] {
    padding: 0.2em !important;
    margin: 0 0.2em !important;
    font-size: 0.7em !important;
    color: #ffffff !important;
}


/* for /accounts/login/ */
#login-form{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#login-form table{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
#login-form table tr{

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.login-error {
    color: red;
}

/*For accounts/lockout */

#lockout-message{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: red;
    font-size: larger;
}

/* for registration/manage.html */


.user-info-label{
     font-weight: bold;
}

/* for forms */

.errorlist{
    color: red;
}


/* for index.html*/
footer{
    position: absolute;
    bottom: 0px;
    left:0px;
    width: 100%;
    font-size: small;
}

footer p{
    text-align: center;
}

/*For input buttons*/
input.ui-widget{
    font-size: 0.9em !important;
}
