{% load i18n %}
{% load url from future %}
<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title> {% block title %} {% endblock %}</title>

    <!-- ** CSS ** -->
    <!-- base library -->
    <link href="{{ STATIC_URL }}css/cupertino/jquery-ui-1.8.14.custom.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet" type="text/css">

    <!-- ** Javascript ** -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.14.custom.min.js"></script>
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>


</head>


<body>

    <nav>
        <ul>
            <li> <a href="/"> {% trans "Home" %} </a></li>
            <li> <a href="/doc_engine/"> {% trans "Document Search and Retrieval" %}</a></li>
            {% if user.is_authenticated and user.is_staff %}
                <li> <a href="/admin/"> {% trans "Admin" %} </a></li>
            {% endif %}
            <li> <a href="/documentation/index.html"> {% trans "Help" %} </a></li>
        </ul>

        <div id="controls">
            {% if user.is_authenticated %}
                <a href="/accounts/manage/" id="username">{{ user.username }} </a>
                <a href="/accounts/logout"> {% trans "Logout" %}</a>
            {% else %}
                <a href="/accounts/login/">{% trans "Login" %}</a>
            {% endif %}


            <form action="/i18n/setlang/" method="post" id="set-lang">
            {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.path }}" />
                <select name="language">
                    <option value="zh-tw">正體中文</option>
                    <option value="en-us">English</option>
                 </select>
                <input type="submit" value="Go" />
            </form>
        </div>


    </nav>

    
<div id="content">
{% block content %} {% endblock %}
</div>

    
{% block footer %}{% endblock %}
</body>

</html>