{% load i18n %}
{% load url from future %}
<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title> {% block title %} {% endblock %}</title>

    <!-- ** CSS ** -->
    <link href="{{ STATIC_URL }}jquery.multiselect.css" rel="stylesheet" type="text/css">

    <!-- Project-specific -->
    <link href="{{ STATIC_URL }}custom-theme/jquery-ui-1.8.14.custom.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}base.css" rel="stylesheet" type="text/css">

    <!-- ** Javascript ** -->

    <!-- Third-Party Javascript files-->
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.tmpl.min.js"></script>
    <script type="text/javascript" src={{ STATIC_URL }}underscore-min.js></script>
    <script type="text/javascript" src={{ STATIC_URL }}json2.js></script>
    <script type="text/javascript" src={{ STATIC_URL }}backbone-min.js></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-1.8.14.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.multiselect.min.js"></script>

    <!-- Project-specific -->
    <script type="text/javascript" src="{{ STATIC_URL }}base.js"></script>
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

    <!-- Per-app header -->
    {% block extra_head %}{% endblock %}

</head>


<body>

    <nav>{% include "navigation.html" %}</nav>
    <div id="content">{% block content %} {% endblock %}</div>
    <footer>{% block footer %}{% endblock %}</footer>
    
</body>

</html>