{% extends "base.html" %}
{% load i18n %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} {% trans "Welcome to Kavalan Management System " %}{% endblock %}
{% block extra_head %}
    <script type="text/javascript" src="{{ STATIC_URL }}stream.js"></script>
    <link href="{{ STATIC_URL }}stream.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% cache 500 strea-index user.username LANGUAGE_CODE %}
        {% include "stream/stream-index.html" %}
    {% endcache %}
    
{% endblock %}

{% block footer %}
{% endblock %}